<button class="button-back" (click)="onBack()"> <- Back </button>
<span>&nbsp;</span>
<button class="button-edit" (click)="onEdit()"> Edit Room</button>
<span>&nbsp;</span>
<button class="button-delete" (click)="onDelete()"> Delete Room</button>
<span>&nbsp;</span>
<button class="button-add" (click)="onAddDevice()"> + Add Devices</button>
<br><br>
<!-- <a>
    <h2>{{ room.name }}</h2>
    <br>
    <img
      [src] = "getRoomImagePath(room.type)"
      alt="{{ room.name }}"
      class="room-icon">
    <br><br>
    <p>{{ room.temperature }} °C</p>
    <p> Co2: {{ room.co2 }}</p>
</a> -->
<div class="room-item-container">
  
</div> 
<main>      
    <app-room-item
    article class="room"
    [room]= room
    [index]= index>
</app-room-item>
    <app-device-item
        article class="device"
        *ngFor="let device of room.deviceDtoList; let i = index"
        [device]="device"
        [index]="i"
        [roomId]= room.id >
        <!-- [ngStyle]="{'background-color': device.status ? 'lightgreen' : 'white'}"
        (click)="editMode === false ? callStatusChanged(device) : routerLink='/deviceEdit/' + index" routerLinkActive="active" -->
    </app-device-item>
</main>
<app-linechart
article class="linechart"
[roomId]= room.id >
</app-linechart>