<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h1> Welcome {{userName}}!</h1>
        <p> Smart Home </p>
      </header>
      <!-- <header>
        <span class="time">09:05</span>
        <h1>Hello, User</h1>
        <div class="weather">
            <span class="city">Linz</span>
            <span class="temp">24°C</span>
        </div>
      </header> -->
      <br>
      <!-- <app-room-list> </app-room-list> -->
     <router-outlet></router-outlet>
    </div>
</div>