

header {
    background: #f8f8f8;
    padding-bottom: 40px;
    padding-right: 20px;
}

button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right; 
}
button:hover {
    background :#608fd5;
}

h2{
    text-align: left;
}


main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Room styles */
.room {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid #777474;
}

.room:hover {
    transform: translateY(-5px);
    background : #94b7d4
}

/* Responsive styles */
 /* @media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}  */

/* Grid layout styles */
/* @media (min-width: 768px) {
    .rooms,
    .devices,
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
    }
} */