
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.form-group label{
flex: 0 0 100px; /* Adjust the width of the labels as needed */
text-align: left;
margin-right: 10px;
}

.form-group input, .form-group select{
    flex: 1;
    min-width: 10px; /* Set the initial width of the input boxes */
    box-sizing: border-box;
    padding: 10px;
    max-width: 130px; /* Set the maximum width of the input boxes */
    transition: width 0.3s; /* Add a transition effect for smooth resizing */
}

.device-box{
  margin-top: 5px;
  background-color: aliceblue;
  padding: 10px;
}


.cancel-button, .save-button{
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover{
  background : red;
} 
  
.save-button:hover{
  background :green;
}