
<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name : </label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
         <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="size">Type : </label>
              <select class="form-control" formControlName="deviceType">
                <option value="Light">Light</option>
                <option value="Window">Window</option>
                <option value="Door">Door</option>
                <option value="Fan">Fan</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="status">Status : </label>
                <select class="form-control" formControlName="status">
                    <option value="true">On</option>
                    <option value="false">Off</option>
                  </select>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit"class="save-button" [disabled]="!deviceForm.valid">
            Save
          </button>
          <span>&nbsp;</span>
          <button type="button" class="cancel-button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>
