
<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name : </label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
         <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="size">Type : </label>
              <select class="form-control" formControlName="type">
                <option value="Bedroom">Bedroom</option>
                <option value="LivingRoom">Living Room</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Bathroom">Bathroom</option>
                <option value="Gaming">Gaming Room</option>
                <option value="Office">Office</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="size">Size : </label>
              <input
                type="number" 
                id="size"
                formControlName="size"
                class="form-control">
            </div>
          </div>
        </div>
        <div *ngIf="!editMode">
          
    
      
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="save-button" >
            Save
          </button>
          <span>&nbsp;</span>
          <button type="button" class="cancel-button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>
  
